body{
    text-align: center;

}
#camada1{
    position: absolute;
    z-index: 1;/*sE NÃO HOUVER SOBREPOSIÇÃO O Z-INDEX SE MANTEM ENTREOS COMPONENTES*/
    background-color: blue;
    height: 100px;
    font-weight: bold;
    width: 180px;
}

#camada2{
    position: absolute;
    left: 188px;
    z-index: 1;
    background-color:red;
    height: 100px;
    width: 664px;
}

#camada3{
    position: absolute;
    z-index: 1;
    background-color:#0f0;
    height: 50px;
    width: 850px;
    top:108px
}

#camada4{
    position: absolute;
    z-index: 1;
    background-color:yellow;
    height: 450px;
    width: 830px;
    top:158px;
    border: 10px solid red;
    
}

#camada5{
    position: absolute;
    z-index: 1;
    background-color: gray;
    height: 50px;
    width: 850px;
    top:627px
}